/*xs*/
@media (max-width: 575px) {

    /* Banner */
    .banner {
        height: 150vh
    }

    .bannerpic {
        padding-left: 50px
    }
    .banner .container {
        margin-left: 0px;
    }
    .banner-content {
        margin-top: 30px;
        text-align: center;
    }
    .hiremebtn {
        width: 80%;
    }

    /* Navbar */
    .navbar {
        margin-left: 0px;
    }
    .navbar-default {
        padding-left: 20px;
    }
    .navbar-collapse {
        padding-left: 20px;
    }

    /* Additional Contact */
    .addconS {
        margin-bottom: 10px;
    }

    /* AboutMe */
    .aboutmeleft {
        padding-top: 20px;
    }
    .resp {
        margin-top: 30px;
    }
    .aboutme {
        padding-left: 50px;
        padding-right: 50px;
    }
    .aboutme h1 {
        
        text-align: center;
    }
    .sub {
        text-align: center;
    }
    .pbody {
        text-align: center;
    }

    /* Services */
    .leftpanel {
        padding-left: 50px;
        padding-bottom: 90px;
        text-align: center;
    }
    .rightpanel {
        padding-right: 50px;
    }
    .iconTitle, .iconSub {
        text-align: center;
    }
    .icons {
        padding-left: 40px;
    }

    /* Contact Me */
    .sns {
        margin-top: 50px;
        text-align: center;
    }
    .contacts {
        padding-left: 20px;
    }
    .cbody2 h1 {
        text-align: center;
    }
    .contbtn {
        width: 100%;
    }

    /* footer */
    .footer {
        margin-top: 70px;
    }


}



/*@media (min-width:320px) {
    .banner h1 {
        color: red
    }
}*/

/*sm*/
@media (min-width: 576px) and (max-width: 767px) {

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 991px) {
    

    /* Banner */
    .banner {
        height: 90vh
    }
    .bannerpic {
        padding-left: 0px;
    }
    .banner-content {
        margin-left: 60px;
        margin-top: 220px;
    }

    /* Navbar */
    .navbar-collapse {
        padding-left: 20px;
    }

    /* About Me */
    .title {
        margin-bottom: 0px;
    }
    .resp {
        margin-top: 30px;
    }
    .aboutme h1 {
        
        text-align: center;
    }
    .sub {
        text-align: center;
    }
    .pbody {
        text-align: center;
    }
    .aboutme {
        padding-left: 50px;
        padding-right: 50px;
    }

     /* Services */
     .iconTitle,.iconSub {
        width: 200px;
     }
     .leftpanel {
        padding-left: 20px;
    }

    /* Contact Me */
    .contacts {
        padding-left: 0px;
        font-size: 14px;
    }


}

/*lg*/
@media (min-width: 992px) and (max-width: 1199px) {

}